/* button {
    background-color: rgb(228, 151, 228);
    border-radius: 5%;
} */



.pageTitle {
    font-size: 27px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 0px 5px 5px 5px;
}