.all-poem {
    margin: 15px 10px 5px 10px;
    border: solid #e7aa10; 
    box-shadow: 5px 8px #dcc791;
    background-color: #f7f0de;
}

.title {
    font-family: 'Montserrat', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  margin: 12px

}

.poem-line, .author-line {
    font-family: 'Proza Libre', sans-serif;
    /* font-family: 'Quattrocento Sans', sans-serif; */
    font-size: 17px;
    margin: 3px 3px 3px 17px;
}

.author-line {
    text-align: right;
    margin-right: 30px;
}